*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Raleway', sans-serif;
}
#hero, #header, #about , .footer-legal, .footer-content, #hero2, #about-int, #team{
    font-family: 'Raleway', sans-serif;
}
#hero{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/hero\ image\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Raleway', sans-serif;
}

.footer-content{
    background: rgba(19, 11, 128, 0.692);
}
.footer-legal{
    background: rgb(17, 68, 134);
}
#hero2{
    background: rgb(67, 67, 102, 0.2);
    height:20vh;
}

.member-image1, .member-image2, .member-image3, .member-image4  {
    width: 45%;
    background: url(../img/member-pix\ 1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.member-image2{
    background: url(../img/member-pix\ 2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.member-image3{
    background: url(../img/member-pix\ 3.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.member-image4{
    background: url(../img/member-pix\ 4.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
@media(max-width: 789px){
    .tm-bg .d-flex{
        flex-direction: column;
        width: 100%;
    }
        .member-image1,
        .member-image2,
        .member-image3,
        .member-image4{
            width: 100%;
            justify-content: center;
    }
    .member .member-text {
        width: 100%;
        padding: none;
        padding-left: 0px;
    }

} 
.tm-bg{
    background-color: aliceblue;
    border-radius: 31px;
}
.member-text{
    width: 55%;
}

@media(max-width: 426px){
    .row {
        width: 100%;
        flex-direction: column;
    .member{
        width: 100%;
        flex-direction: column;
    }
}



