*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Raleway', sans-serif;
}
#hero, #header, #about , .footer-legal, .footer-content, #hero2, #about-int, #team{
    font-family: 'Raleway', sans-serif;
}
#hero{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/hero\ image\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Raleway', sans-serif;
}
#hero h2, #hero h5{
    color: white;
}

.hero-text{
    padding: 0 5%;
}
.navbar-brand{
    font-weight: bolder;
    font-size: 500;
}
.card{
    box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
    padding: 4px;
}
.footer-content{
    background: rgba(19, 11, 128, 0.692);
    color: white;
}
.footer-legal{
    background: rgb(17, 68, 134);
    color: white;
}
#hero2{
    background: rgb(67, 67, 102, 0.2);
    height:20vh;
}

.member{
    width: 100%;
}
.member-image{
    width: 45%;
    background: url(../img/member-pix\ 1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
#team .col-each2 .member-image {
    background: url(../img/member-pix\ 2.jpg)no-repeat;
    width: 45%;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.member-text{
    width: 55%;
}
#team .bg-colour{
    background: whitesmoke;
    padding: 40px;
}
#team .col-each3 .member-image{
    background: url(../img/member-pix\ 3.jpg)no-repeat;
    width: 45%;
    background-size: cover;
    background-position: center;
    height: 300px;
}
#team .col-each4 .member-image {
    background: url(../img/member-pix\ 4.jpg)no-repeat;
    width: 45%;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.btn button:not(:disabled) {
    background: blue;
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
}
.footer-links ul li a{
    color: white;
}
@media(max-width: 426px){
    .row{
        width: 100%;
        flex-direction: column;
    }
}
